h2{
    font-size: xx-large!important;
}

.jumbotron{
    padding: 40px 10px!important;
}

#inputSolid1, #inputSolid2{
    font-size: medium;
    text-align: center;
}

#select{
    font-size: medium;
}

/*.submitSingle, .labelResult{*/
/*    font-size: medium;*/
/*    font-weight: normal;*/
/*}*/

.labelResult{
    font-size: medium;
    font-weight: normal;
}

.submitSingle{
    font-size: medium;
    font-weight: normal;
}

#save{
    font-size: medium;
    font-weight: 400;
}