h2{
    font-size: xx-large!important;
}

#inputSolid1, #inputSolid2{
    font-size: medium;
    text-align: center;
}

#select{
    font-size: medium;
}

.submitSingle, .labelSingle{
    font-size: medium;
}
